@font-face {
	font-family: 'FONTSPRING DEMO - Proxima Nova';
	src: url(../../assets/fonts/FONTSPRINGDEMO-ProximaNovaRegular.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRINGDEMO-ProximaNovaRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}